{% extends 'base.html' %}

{% block content %}
<div class="post-content">
    <h1 style="text-align: center; color: white;">发帖</h1>
    <form action="{{ url_for('blog.post') }}" method="post">
        {{ form.hidden_tag() }}  <!-- 添加此行以包含 CSRF 隐藏字段 -->

        <div class="form-group">
            <label for="title">标题：</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="content">内容：</label>
            <textarea id="content" name="content" rows="5" required></textarea>
        </div>
        <button type="submit" class="post-button">提交</button>
    </form>
</div>
{% endblock %}