# 默认忽略的文件
/../../recognition_system /.idea/shelf/
/../../recognition_system /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../recognition_system /.idea/httpRequests/
# Datasource local storage ignored files
/../../recognition_system /.idea/dataSources/
/../../recognition_system /.idea/dataSources.local.xml
